<p><strong>主题</strong>{king:title/}</p>
				<p><strong>副标题</strong>{king:subtitle/}</p>
				<p><strong>缩略图</strong>{king:image/}</p>
				<p><strong>内容</strong>{king:content/}</p>
				<p><strong>META关键字</strong>{king:keywords/}</p>
				<p><strong>TAG标签</strong>{king:tag/}</p>
				<p><strong>META简述</strong>{king:description/}</p>
				<p><strong>路径</strong>{king:path/}</p>
				<p><strong>相关内容</strong>{king:relate/}</p>
				<p><strong>优惠价</strong>{king:price/}</p>
				<p><strong>数量</strong>{king:number/}</p>
				<p><strong>重量</strong>{king:weight/}</p>
				<p><strong>显示</strong>{king:show/}</p>
				<p><strong>头条</strong>{king:head/}</p>
				<p><strong>推荐</strong>{king:commend/}</p>
				<p><strong>置顶</strong>{king:up/}</p>
				<p><strong>焦点</strong>{king:focus/}</p>
				<p><strong>热卖</strong>{king:hot/}</p>
				<p><strong>市场价</strong>{king:_Market/}</p>
				<p><strong>产品型号</strong>{king:_Serial/}</p>