<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理登陆</title>
<link rel="stylesheet" type="text/css" href="style/sys_base.css"/>
<link rel="stylesheet" type="text/css" href="style/sys_blue.css"/>
<script type="application/javascript" src="js/jquery.min.js"></script>
<script type="application/javascript" src="js/utils.js"></script>
<script type="application/javascript" src="js/common.js"></script>
</head>
<body>
<div class="sys_wrapper">
  <div class="sys_header">
    <div class="sys_header_main">
    	<p class="sys_info"><span>登陆IP: </span><em>201.125.124.125</em><span>登陆用户名：</span><em>admin</em><span>角色：</span><em>超级管理员</em></p>
    </div>
  </div>
  <div class="sys_navigation"><div class="sys_date">菜单导航</div><a href="#" title="管理台首页">管理台首页</a><span class="sp"></span><a href="#" title="日志">日志</a><div class="fp_nav"><a href="/" title="浏览网站">浏览网站</a></div></div>
  <div class="sys_container clearfix">
    <div class="sys_sider">
    	<ul>
        	<li><a href="#">节点管理</a></li>
            <li><a href="#">管理定价</a></li>
        </ul>
    </div>
    <div class="sys_content" id="sys_content">
    
    </div>
  </div>
</div>
</body>
</html>